---
Checks: "*,
        -altera-*,
        -bugprone-*,
        -clang-analyzer-*,
        -cppcoreguidelines-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-*,
        -performance-*,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -misc-non-private-member-variables-in-classes,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
